body{
    background-color:whitesmoke;
    margin:0px;
    padding:0px;
   }
   #all{
        width:100%;
        height:95vh;
        /* position: relative; */
       }
       nav {
           display: flex;
         justify-content: space-between;
        height:60px;
        background-color:#152238;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
        padding:0px 0px;
        
        
       }
       nav ul{
        display: flex;
        list-style: none;
        
       }
       header ul li{
        left:30%;
        right: 50%;
        }
        nav ul li a{
        font-family: Gill Sans Extrabold, sans-serif;
        color:white;
        padding-left: 30px;
        text-decoration: none;
        font-size: 17px;
        font-weight:200;
       }
   nav ul li a:hover{
       color: yellow;
   }
  .pic{
    position: relative;
    font-family: Arial;
  }
   .pic img{
       width: 100%;
       height: 500px;
       
   
   }
   .pic p{
    position: absolute;
   justify-content: center;
   left:35%;
   right: 50%;
   top: 15%;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    width: 500px;
    color:black;
   
    
   }
   h2{
       color: darkorange;
       font-weight: 200;
   }
   .about p{
       font-size: 17px;
   }
   #about{
    width:80%;
    height:450px;
    background:#ffffff;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -5%  auto 20px auto;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
   }
   .about{
    width:500px;
   }
   .about button{
    width:120px;
    height: 40px;
    color:#ffffff;
    outline:none;
    border:none;
    border-radius: 40%;
    font-family: calibri;
    background-color:#152238;
   }
   #about img{
    height:250px;
   }
    
   
    #services{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-left: 150px;
        margin-right: 150px;
    }
    #services img{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
      }
      #services h3{
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
      }
      #services p{
        font-size: 17px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
      }
      .offer h1{
        margin-left: 40%;
        color: darkorange;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: 600;
      }
      .offer p{
        margin-left: 43%;
        color: black;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 50px;
        font-weight: 600;
      }
      #contact{
        width:100%;
        height:200px;
        background-color:#152238;
        display: flex;
        color: white;
        position: relative;
        justify-content: space-evenly;
       
      }
      .homy{
        max-width:1100px ;
        margin-left: 200px ;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 160px;
      }
      @media(max-width: 500px){
    #services{
          grid-template-columns:  1fr;  
      } 
      }